@import "../../../../../assets/scss/core/variables/_shadow.scss";
@import "../../../../../assets/scss/core/mixins/_vendor-prefixes.scss";

.main-content {
  background-color: white;
}

.bubble-board {
  max-width: 100%;
  padding-right: 3%;
  padding-left: 3%;
}

