<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-12">
        <h2 class="event-title">{{event.title}}</h2>
      </div>
      <div *ngIf="event.description" class="col-xl-10">
        <h5 class="event-description">{{event.description}}</h5>
      </div>
    </div>

    <!-- Event edit button shall not exceed 6 chars to not override event title -->
    <div [ngClass]="{'d-flex justify-content-center': screenSizesService.isLowerThanBootstrapWidth(BootstrapWidth.xs)}">
        <div [ngClass]="{'top-right-edit': !screenSizesService.isLowerThanBootstrapWidth(BootstrapWidth.xs)}"
             class="edit-event"
             (click)="openSettingsModal()"><i class="fas fa-pen"></i><span i18n="@@edit">TBT</span>
        </div>
    </div>

    <div class="row justify-content-center">
      <event-additional-infos
          [event]="event">
      </event-additional-infos>
    </div>
    <event-participants-choice
        [eventRef]=event.ref>
    </event-participants-choice>

    <div class="row justify-content-center">
      <div class="bubble-board container">
        <modal-bubble-creation
            [event]=event>
        </modal-bubble-creation>

        <app-expanded-bubble-controller
            [bubble]=bubbleToExpand
            [eventRef]="event.ref">
        </app-expanded-bubble-controller>

        <div class="row justify-content-center">
          <div *ngFor="let bubble of bubbles"
               class="col-xl-3 col-lg-4 col-sm-6">
            <bubble-preview-controller
                [bubble]=bubble
                (bubbleToExpand)="onBubbleSentForExpand($event)">
            </bubble-preview-controller>
          </div>

          <div class="add-bubble col-xl-3 col-lg-4 col-sm-6"
               (click)="openNewBubbleModal()">
            <add-bubble-icon [isBoardEmpty]="bubbles.length===0"></add-bubble-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<event-settings
    [event]="event">
</event-settings>
