@import "../../../../../assets/scss/core/variables/_shadow.scss";
@import "../../../../../assets/scss/core/mixins/_vendor-prefixes.scss";

.main-content {
  background-color: white;
}

.bubble-board {
  margin: 30px;
  max-width: 100%;
}

.add-bubble {
  cursor: pointer;
  text-align: center;

  .fa {
    margin-top: 126px;
    font-size: 48px;
    color: #333;
    border-radius: 50%;
  }
}
