<div class="login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-center">
                <div class="card-wrapper">
                    <div class="brand" (click)="loginPage()">
                        <img src="./assets/img/vibent.svg">
                    </div>
                    <div class="card fat m-t-25">
                        <div class="card-body">
                            <h3 class="card-title">Let's reset your password</h3>
                            <form novalidate [formGroup]="form">
                                <div class="form-group"> 
                                    <label for="password">New password <span *ngIf=!formsValid.newPassword
                                                                         class="field-error">(8 characters)</span>
                                    </label>
                                    <input type="password"
                                           class="form-control"
                                           id="password"
                                           formControlName="newPassword"/>
                                </div>
                                <div class="form-group"> 
                                    <label for="passwordConfirmation">New password Confirmation<span
                                            *ngIf="!formsValid.newPasswordConfirmation"
                                            class="field-error">(password not identical)</span>
                                    </label>
                                    <input type="password"
                                           class="form-control"
                                           id="passwordConfirmation"
                                           formControlName="newPasswordConfirmation"/>   
                                </div>
                                <div class="form-group no-margin">
                                    <button type="submit"
                                            (click)="reset()"
                                            class="btn btn-primary btn-block">
                                        Reset password
                                    </button>
                                </div>
                                <div class="text-center m-t-20">
                                    <a (click)="loginPage()"
                                       class="cursor-pointer text-primary">
                                        Back to login
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
