<div class="container">
  <vibent-header></vibent-header>
  <div class="card col-xl-5 col-md-6 mx-auto p-4 m-0">
    <h3 class="card-title" i18n="@@reset-password">TBT</h3>
    <form novalidate [formGroup]="form">
      <div class="form-group"> 
        <label for="password" i18n="@@new-password">TBT<span *ngIf=!formsValid.newPassword class="field-error"></span>
        </label>
        <input type="password" class="form-control" id="password" formControlName="newPassword"/>
      </div>
      <div class="form-group"> 
        <label for="passwordConfirmation" i18n="@@new-password-confirm">TBT<span
            *ngIf="!formsValid.newPasswordConfirmation" class="field-error">TBT</span>
        </label>
        <input type="password" class="form-control" id="passwordConfirmation"
               formControlName="newPasswordConfirmation"/>   
      </div>
      <div class="form-group no-margin">
        <button type="submit" (click)="reset()" class="btn btn-primary btn-block" i18n="@@reset-password">
          TBT
        </button>
      </div>
      <div class="text-center m-t-20">
        <a (click)="loginPage()" class="cursor-pointer text-primary" i18n="@@back-to-login">
          TBT
        </a>
      </div>
    </form>
  </div>
</div>