<div class="logo">
    <div class="logo-img">
        <img src="/assets/img/vibent.svg"/>
    </div>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="screenSizesService.isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item dropdown">
                <a class="nav-link"
                   id="navbarDropdownUser"
                   data-toggle="dropdown">
                    <div class="d-flex flex-row justify-content-center">
                        <div class="user-profile p-2 align-self-center text-center">
                            <img src="{{user.profilePicLocation}}">
                            <p>{{user.firstName}} {{user.lastName}}</p>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item"
                       [routerLink]="['/me']">
                        Profile
                    </a>
                    <a class="dropdown-item"
                       (click)="logout()">
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active"
            *ngFor="let menuItem of menuItems"
            class="{{menuItem.class}} nav-item">
            <a class="nav-link"
               [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <app-group-admin-panel
            *ngIf="groupAdminPanelInput && !screenSizesService.isMobileMenu()"
            [groupRef]="groupAdminPanelInput">
    </app-group-admin-panel>
    <app-event-admin-panel
            *ngIf="eventAdminPanelInput && !screenSizesService.isMobileMenu()"
            [eventRef]="eventAdminPanelInput">
    </app-event-admin-panel>
</div>
