<div class="logo">
    <div class="logo-img">
        <img src="/assets/img/vibent.svg"/>
    </div>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active"
            *ngFor="let menuItem of menuItems"
            class="{{menuItem.class}} nav-item">
            <a class="nav-link"
               [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <app-group-admin-panel
            *ngIf="groupAdminPanelInput && !screenSizesService.isMobileMenu()"
            [groupRef]="groupAdminPanelInput">
    </app-group-admin-panel>
    <app-event-admin-panel
            *ngIf="eventAdminPanelInput && !screenSizesService.isMobileMenu()"
            [eventRef]="eventAdminPanelInput">
    </app-event-admin-panel>
</div>
