<div class="d-flex justify-content-center">
  <i class="fas fa-paper-plane paper-plane"></i>
</div>
<h2 class="text-center m-t-10"><b i18n="@@add-people-by-link">TBT</b></h2>
<p *ngIf="eventRef" class="text-center m-t-5" i18n="@@send-url-join-event">TBT</p>
<p *ngIf="distributionList" class="text-center m-t-5" i18n="@@send-url-join-list">TBT</p>
<div class="form-group">
  <label for="invite-token"><b i18n="@@magic-link">TBT</b></label>
  <input type="text" class="form-control" id="invite-token" value="{{generatedLink}}"/>
</div>
<div class="d-flex justify-content-center m-t-50">
  <i class="fas fa-envelope m-t-20 paper-plane"></i>
</div>
<h2 class="text-center m-t-10"><b i18n="@@add-people-by-email">TBT</b></h2>
<p class="text-center m-t-5" i18n="@@can-invite-people-by-email">TBT</p>
<div [formGroup]="form" class="emails">
  <label><b i18n="@@email">TBT</b></label>
  <div formArrayName="emails"
       *ngFor="let item of emails.controls; let i = index;" id="email-address">
    <div [formGroupName]="i">
      <div class="form-group">
        <span *ngIf="displayErrors[i]" class="incorrect-input" style="margin-right: 10% " i18n="@@invalid-mail">TBT</span>
        <div class="mail-container">
          <input type="text" class="form-control email" formControlName="email"/>
          <div *ngIf="emails.length > 1" class="action-email remove">
            <img (click)="removeItem(i)" src="./assets/img/close.png" class="close-button cursor-pointer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add-another-email" (click)="addItem()">
    <i (click)="addItem()" class="fas fa-plus-circle"></i><span i18n="@@add-another-email">TBT</span>
  </div>

  <div class="row justify-content-center">
    <button (click)="sendMailInvitation()"
            class="btn btn-round white-button m-t-15"
            i18n="@@send-invitation">TBT
    </button>
  </div>
</div>
<div *ngIf="eventRef && userLists?.length>0" class="select-list">
  <div class="d-flex justify-content-center m-t-50">
    <i class="fas fa-users paper-plane"></i>
  </div>
  <h2 class="text-center m-t-10"><b i18n="@@add-people-by-list">TBT</b></h2>
  <p class="text-center m-t-5" i18n="@@can-invite-people-by-list">TBT</p>
  <div [formGroup]>
    <div class="form-group">
      <label for="select-list" i18n="@@select-an-event">TBT</label>
      <select #t (change)="listPick(t)" class="form-control" id="select-list">
        <option *ngFor="let list of userLists"
                [id]="list.id"
                [value]="list.title" i18n>
          {{list.title}} ({{list.memberRefs.length}}  {list.memberRefs.length, plural, =1 {person} other {people}})
        </option>
      </select>
    </div>
  </div>
  <div class="row justify-content-center">
    <button (click)="sendListInvitation()" class="btn btn-round white-button m-t-15" i18n="@@send-invitation">TBT</button>
  </div>
</div>
