<div class="row justify-content-center" style="margin-bottom: 15px">
	<div class="create-event-title">Members requests</div>
</div>

<div class="row justify-content-center">
	<div class="col-xl-12">
		<div class="member_request_card hovermember_request_card">
			<div class="member_request_cardheader">
			</div>
			<div class="avatar">
				<img src="/assets/img/theo.jpg">
			</div>
			<div class="info">
				<div class="title">
					<a>Théo Joubert</a>
				</div>
			</div>
			<div class="bottom">
				Requested on 22 may 2018
				<div class="row justify-content-center">
					<button type="button" class="btn btn-success">Approve</button>
					<button type="button" class="btn btn-danger">Disapprove</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-12">
		<div class="member_request_card hovermember_request_card">
			<div class="member_request_cardheader">
			</div>
			<div class="avatar">
				<img src="/assets/img/theo.jpg">
			</div>
			<div class="info">
				<div class="title">
					<a>Théo Joubert</a>
				</div>
			</div>
			<div class="bottom">
				Requested on 22 may 2018
				<div class="row justify-content-center">
					<button type="button" class="btn btn-success">Approve</button>
					<button type="button" class="btn btn-danger">Disapprove</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-12">
		<div class="member_request_card hovermember_request_card">
			<div class="member_request_cardheader">
			</div>
			<div class="avatar">
				<img src="/assets/img/theo.jpg">
			</div>
			<div class="info">
				<div class="title">
					<a>Théo Joubert</a>
				</div>
			</div>
			<div class="bottom">
				Requested on 22 may 2018
				<div class="row justify-content-center">
					<button type="button" class="btn btn-success">Approve</button>
					<button type="button" class="btn btn-danger">Disapprove</button>
				</div>
			</div>
		</div>
	</div>
</div>