<div class="modal fade" id="modalTutorial" tabindex="-1" role="dialog">
  <div class="modal-dialog full-bootstrap-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close black-close"
                data-dismiss="modal">
          <span>&times;</span>
        </button>
        <span *ngIf="!navigation.checkState(TutorialState.WELCOME)"
              class="fas fa-chevron-left position-absolute p-3 cursor-pointer"
              (click)="navigation.onBack()"></span>
      </div>
      <div class="modal-body bg-light">
        <div class="container vibent-modal">
          <tutorial-welcome
              *ngIf="navigation.checkState(TutorialState.WELCOME)"
              (change)="onNext()">
          </tutorial-welcome>
          <tutorial-create-event
              *ngIf="navigation.checkState(TutorialState.CREATE_EVENT)"
              (change)="onNext()">
          </tutorial-create-event>
          <tutorial-join-event
              *ngIf="navigation.checkState(TutorialState.JOIN_EVENT)"
              (change)="onNext()">
          </tutorial-join-event>
          <tutorial-profile
              *ngIf="navigation.checkState(TutorialState.PROFILE)"
              (change)="onNext()">
          </tutorial-profile>
          <tutorial-enjoy
              *ngIf="navigation.checkState(TutorialState.ENJOY)">
          </tutorial-enjoy>
        </div>
      </div>
    </div>
  </div>
</div>