<div class="main-content">
    <div class="container-fluid">
        <h3 class="col-xl-12 text-center">All events you attend.</h3>
        <h4 class="col-xl-12 text-center">Want to create one? Create an event in a group:</h4>
        <div class="row justify-content-center">
            <div class="btn btn-round green-button" (click)="goToGroupPage()">Go to groups page</div>
        </div>
        <app-event-preview
                *ngFor="let event of events"
                [event]=event>
        </app-event-preview>
    </div>
</div>
