<alimentation-bubble-preview
    *ngIf="this.bubble.type === BubbleType.AlimentationBubble"
    [alimentationBubble]="this.bubble"
    (click)="this.expandBubble()">
</alimentation-bubble-preview>

<checkbox-bubble-preview
    *ngIf="this.bubble.type === BubbleType.CheckboxBubble"
    [bubble]="this.bubble"
    (click)="this.expandBubble()">
</checkbox-bubble-preview>

<travel-bubble-preview
    *ngIf="this.bubble.type === BubbleType.TravelBubble"
    [bubble]="this.bubble"
    (click)="this.expandBubble()">
</travel-bubble-preview>

<app-free-bubble-preview
    *ngIf="this.bubble.type === BubbleType.FreeBubble"
    [bubble]="this.bubble"
    (click)="this.expandBubble()">
</app-free-bubble-preview>

<app-planning-bubble-preview
    *ngIf="this.bubble.type === BubbleType.PlanningBubble"
    [planningBubble]="this.bubble"
    (click)="this.expandBubble()">
</app-planning-bubble-preview>

<survey-bubble-preview
    *ngIf="this.bubble.type === BubbleType.SurveyBubble"
    [bubble]="this.bubble"
    (click)="this.expandBubble()">
</survey-bubble-preview>
