@import "../../../../../assets/scss/core/variables/_shadow.scss";
@import "../../../../../assets/scss/core/mixins/_vendor-prefixes.scss";

.bubble-preview {
  background: #fff;
  @include box-shadow($bmd-shadow-4dp);
  transition-duration: 0.5s;
  margin-bottom: 30px;
  height: 300px;
  border-radius: 20px;
  cursor: pointer;
  border-top: 5px solid white;

  .bubble-type {
    position: absolute;
    right: 30px;
    top: 10px;

    .bubble-icon {
      margin-top: 5px;
      margin-left: 4px;
      font-size: 18px;
      right: 10px;
      top: 10px;
    }
  }

  &.free-bubble-preview {
    border-top: 5px solid #b33a69;

    .bubble-icon {
      color: #b33a69;
    }
  }

  &.planning-bubble-preview {
    border-top: 5px solid #08b6b3;

    .bubble-icon {
      color: #08b6b3;
    }
  }

  .title {
    color: black;
    font-size: 24px;
  }

  &:hover {
    @include box-shadow($bmd-shadow-16dp);
  }
}
