<div class="row justify-content-center">
	<div class="create-event-title">Update group infos</div>
</div>

<div [formGroup]="form">
	<div class="Input">
		<input type="text" formControlName="name" id="name" class="Input-text" placeholder="Name">
		<label for="name" class="Input-label">Name</label>
	</div>
	<div class="TextArea">
		<textarea data-autoresize id="description" formControlName="description" class="Input-text"
							placeholder="Description"></textarea>
		<label for="description" class="TextArea-label">Description</label>
	</div>
	<div class="row justify-content-center m-t-50">
			<button *ngIf="!name.invalid" (click)="updateInfo()" class="btn btn-round btn-add-event">Update</button>
			<button *ngIf="name.invalid" class="btn btn-round btn-add-event disabled">Update</button>
	</div>
	<div class="row justify-content-center">
		<button mat-dialog-close class="btn btn-round btn-danger" (click)="close()">Cancel</button>
	</div>

	<div class="card card-group-remove">
		<div class="card-body">
			<h5 class="card-title">Remove group</h5>
			<h6 class="card-subtitle mb-2">Removing group will cause all child events and
				resources to be removed.</h6>
			<button class="btn btn-danger" (click)="removeGroup()">Remove</button>
		</div>
	</div>
</div>