<div class="main-content">
  <div class="container-fluid">
    <h3 class="col-xl-12 text-center" i18n="@@profile-header">TBT</h3>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-sm-6">
        <div *ngIf="user" class="profile_card hoverprofile_card">
          <div class="profile_cardheader">
            <div (click)="openSettingsDialog()" class="edit-button">
              <i class="fas fa-pen"></i><span i18n="@@edit">TBT</span>
            </div>
          </div>
          <div class="avatar">
            <img src={{user.profilePicLocation}}>
          </div>
          <div class="info">
            <div class="title">
              <a>{{user.firstName}} {{user.lastName}}</a>
            </div>
            <div class="desc" i18n="@@events-opportunities">{{user.participations.length}}
              {user.participations.length, plural, =1 {event opportunity} other {events opportunities}}
            </div>
          </div>
          <div class="bottom">
            {{user.email}}
            <connected-social [user]="user"></connected-social>
          </div>
          <distribution-list-section [user]="user" (listExpanded)="onListExpand($event)"></distribution-list-section>
        </div>
      </div>
    </div>
    <div *ngIf="screenSizesService.isMobileMenu()" class="row justify-content-center">
      <div (click)="logout()" class="logout-button">
        <i class="fas fa-sign-out-alt"></i><span i18n="@@logout">TBT</span>
      </div>
    </div>
  </div>
</div>
<profile-settings [user]=user></profile-settings>
<create-distribution-list></create-distribution-list>
<expanded-distribution-list [distributionList]="expandedList"></expanded-distribution-list>