<div class="main-content">
  <div class="container-fluid">
    <h3 class="col-xl-12 text-center" i18n="@@profile-header">TBT</h3>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-sm-6">
        <div *ngIf="user" class="profile_card hoverprofile_card">
          <div class="profile_cardheader">
          </div>
          <div class="avatar">
            <img src={{user.profilePicLocation}}>
          </div>
          <div class="info">
            <div class="title">
              <a>{{user.firstName}} {{user.lastName}}</a>
            </div>
            <div class="desc" i18n="@@events-opportunities">{{user.participations.length}}
              {user.participations.length, plural, =1 {event opportunity} other {events opportunities}}
            </div>
          </div>
          <div class="bottom">
            {{user.email}}
            <connected-social [user]="user"></connected-social>
          </div>
        </div>
      </div>

    </div>
    <a (click)="openSettingsDialog()" class="text-black-50 cursor-pointer">
      <h5 class="col-xl-12 text-center">
        <i class="fas fa-cog p-2"></i>
        <ng-container i18n="@@settings">TBT</ng-container>
      </h5>
    </a>

    <a *ngIf="screenSizesService.isMobileMenu()" (click)="logout()" class="text-black-50 cursor-pointer">
      <h5 class="col-xl-12 text-center">
        <i class="fas fa-sign-out"></i>
        <ng-container i18n="@@logout">TBT</ng-container>
      </h5>
    </a>
  </div>
</div>
<profile-settings [user]=user></profile-settings>