<div class="main-content">
    <div class="container-fluid">
        <h3 class="col-xl-12 text-center">You. And nobody else.</h3>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-sm-6">
                <div *ngIf="user" class="profile_card hoverprofile_card">
                    <div class="profile_cardheader">
                    </div>
                    <div class="avatar">
                        <img src={{user.imagePath}}>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a>{{user.firstName}} {{user.lastName}}</a>
                        </div>
                        <div class="desc">Joinded on 22 may</div>
                        <div class="desc">{{user.memberships.length}} group<span
                                *ngIf="user.memberships.length>1">s</span></div>
                        <div class="desc">{{user.participations.length}} event<span
                                *ngIf="user.participations.length>1">s</span> opportunities
                        </div>
                    </div>
                    <div class="bottom">
                        {{user.email}}
                        <div class="row justify-content-center">
                            <a class="btn btn-primary btn-twitter btn-sm cursor-pointer text-white tooltip-activation"
                               data-placement="top"
                               title="Twitter account not linked">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-times-circle"></i>
                            </a>
                            <a class="btn btn-danger btn-sm cursor-pointer text-white tooltip-activation"
                               data-placement="top"
                               title="Google account not linked">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-times-circle"></i>
                            </a>
                            <a class="btn btn-primary btn-sm cursor-pointer text-white tooltip-activation"
                               data-placement="top"
                               title="Facebook account not linked">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-times-circle"></i>
                            </a>
                            <a class="btn btn-warning btn-sm cursor-pointer text-white tooltip-activation"
                               data-placement="top"
                               title="Snapchat account not linked">
                                <i class="fa fa-snapchat"></i>
                                <i class="fa fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a (click)="openSettingsDialog()" class="text-black-50 cursor-pointer">
            <h5 class="col-xl-12 text-center">
                <i class="fa fa-cog"></i> Settings
            </h5>
        </a>
    </div>
</div>