<div class="row" *ngFor="let groupPreview of groupsPreview">
    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
        <div class="card">
            <div class="card-header card-header-vibent-purple">
                <h4 class="card-title ">{{groupPreview._groupName}}</h4>
                <h4 class="card-members "><b>{{groupPreview._groupSize}}</b> members</h4>
                <p class="card-category">{{groupPreview._groupDescription}}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="scrolling-wrapper" >
                        <app-group-preview-member [groupPreviewMembers]=groupPreview._groupMembers></app-group-preview-member>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
