$alimentation-color: #f27c8b;

.alimentation-bubble-preview {
  text-align: center;
  border-color: $alimentation-color;

  .bubble-icon {
    color: $alimentation-color;
  }
}

.graphics {
  height: 70%;
  overflow: hidden;

  .graphic-part {
    margin-top: 40px;
    padding: 0 5% 0 5%;

    .icon {
      display: inline-block;
      vertical-align: middle;
      width: 30%;

      img {
        width: 50px;
      }
    }

    .info {
      display: inline-block;
      vertical-align: middle;
      width: 70%;

      .progress {
        margin-top: 15px;
        box-shadow: none;

        .bg-success {
          background-color: $alimentation-color !important;
        }
      }

      .remaining-text {
        text-align: right;
        white-space: nowrap;
        font-size: 0.8em;
      }
    }
  }
}
