<div class="modal fade" id="modalGroupCreation" tabindex="-1" role="dialog">
	<div class="modal-dialog full-bootstrap-modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button"
						class="close black-close"
						data-dismiss="modal"
						(click)="close">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body bg-light">
				<div class="container vibent-modal">
					<h2><b i18n="@@create-a-group">TBT</b></h2>
					<p class="lead" i18n="@@about-to-create-group">TBT</p>
					<div [formGroup]="form">
						<div class="form-group">
							<label for="group-title"><b i18n="@@title">TBT</b>
								<span *ngIf="!titleValidSetted"
									  class="incorrect-input" i18n="@@required-title">TBT</span></label>
							<input type="text" class="form-control" id="group-title" formControlName="title"/>
						</div>
						<div class="form-group">
							<label for="group-description" i18n="@@optional-description"><b>TBT</b></label>
							<textarea type="text" class="form-control" id="group-description"
									  formControlName="description"></textarea>
						</div>

						<div class="row justify-content-center m-t-50">
							<button (click)="saveGroup()" class="btn btn-round green-button" i18n="@@create">TBT</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>