<div class="modal-body">
	<free-content
			*ngIf=contentDisplayed
			[freeBubble]=this.bubble
			[eventRef]=this.eventRef>|
	</free-content>
	<free-settings
			*ngIf=!contentDisplayed
			[bubble]=this.bubble
			[eventRef]=this.eventRef
			(bubbleDeleted)=onBackToContentSent()
			(backToContent)=onBackToContentSent($event)>
	</free-settings>
</div>
<div class="modal-footer" *ngIf="contentDisplayed">
	<a *ngIf="bubble.creatorRef === user.ref" (click)="openBubbleSettings()" class="text-black-50 cursor-pointer">
		<i class="fas fa-cog m-r-3"></i> <span i18n="@@settings">TBT</span>
	</a>
</div>
