<div class="form-group">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <label>Email</label>
            <div class="input-group"><span class="input-group-addon"></span>
                <input type="text" style="color: white" class="form-control" name="Email" id="Email"
                       placeholder="Requested Email" required value="vibent@gmail.com">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button (click)="sendInvitation()" class="btn btn-round btn-add-event-in-group" style="margin-top: 15px;">Send
            invitation
        </button>
    </div>
</div>
<div class="row justify-content-center" style="margin-top: 20px;">
    <h5 style="color: white">Or generate a link to share it with people:</h5>
</div>
<div class="row justify-content-center">
    <button (click)="generateLink()" class="btn btn-round btn-add-event">Generate a link</button>
</div>