.row {
    background-image: linear-gradient(to left top, #ffffff, #eff0f8, #dae3f2, #c0d8eb, #a4cde0);
    margin: 0;
    height: 100vh;
}

.registration-form {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}