<div class="row justify-content-center">
  <div class="list-preview-large">
    <div class="first-letter">{{list.title | slice:0:1 | titlecase}}</div>
  </div>
</div>
<h2 i18n="@@list-created" class="text-center m-t-10">Your list "{{list.title}}" is created</h2>
<div class="summary-list-infos">
  <div class="person-count text-center">{{list.memberRefs.length}}</div>
  <div class="person-added text-center" i18n="@@people-added-list">{list.memberRefs.length, plural, =1 {Person} other {People}} have been added to the list</div>
</div>
<p class="text-center m-t-20" i18n="@@list-created-still-can-add">TBT</p>