@import "../../../../../../assets/scss/core/mixins/_buttons.scss";
@import "../../../../../../assets/scss/core/variables/_shadow.scss";
@import "../../../../../../assets/scss/core/mixins/_vendor-prefixes.scss";

//position edit at top left of modal close
//override background color
$top-buttons: 25px;
$right-edit-button: 65px;
$override-background: #e4e4e4;

.list-margin{
  margin-bottom: 0.5em
}

.edit-list {
  @include board-button();
  @include board-button-hover();
  @include edit-button();
  background: $override-background;
  position: absolute;
  right: $right-edit-button;
  top: $top-buttons;

}


.invite-list{
  @include board-button();
  @include board-button-hover();
  @include edit-button();
  background: $override-background;
  position: absolute;
  right: $right-edit-button + 80px;
  top: $top-buttons;
}