.header-logo-min {
  width: 65px;
}

.sky-bg {
  background: url('../../../../assets/img/get-app-bg.jpg')
}

.whats-an-app {
  margin-top: 10px;
  margin-bottom: 10px;

  .title {
    font-size: 20px;
    color: white;
    margin-top: 15px;
  }
}

.features {
  border-radius: 7px;

  h3 {
    font-weight: 400;
  }
}

.iphone-gif {
  width: 200px;
  object-fit: contain;
}