<div class="container min-vh-100">
  <vibent-header></vibent-header>
  <div class="card col-md-8 mx-auto p-4 sky-bg">
    <div class="whats-an-app">
      <div class="text-center">
        <img class="header-logo-min" src="./assets/icons/vibentmin.png"/>
      </div>
      <div class="title text-center" i18n="@@download-app-store">Download an app in a store? So 2018...</div>
    </div>
  </div>

  <div class="card col-md-8 mx-auto p-4 m-0 mb-5">
    <h2 i18n="@@how-to-get-vibent-app">How to get Vibent app</h2>
    <p i18n="@@how-to-get-vibent-app-text">Whether you are on an Android or Apple device, open your favorite browser. In
      the settings select the option "Add
      to home screen".... It's done, you just installed Vibent on your phone. And it's a real application, we
      promise.</p>
    <div class="row justify-content-center">
      <img class="iphone-gif" src="./assets/gifs/iphone-gif-explanation.gif"/>
    </div>
  </div>
</div>