<div class="modal fade" id="modalAddGroupMembers" tabindex="-1" role="dialog">
  <div class="modal-dialog full-bootstrap-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close black-close"
                data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <div class="container vibent-modal">
          <h2><b i18n="@@add-people-by-email">TBT</b></h2>
          <p class="lead" i18n="@@can-invite-people-by-email">TBT</p>
          <div [formGroup]="form">
            <div class="form-group">
              <label for="email-invite"><b i18n="@@email">TBT</b>
                <span *ngIf="!emailValidSetted"
                      class="incorrect-input" i18n="@@required-title">TBT</span></label>
              <input type="text" class="form-control" id="email-invite" formControlName="email"/>
            </div>
            <div class="row justify-content-center">
              <button (click)="sendInvitation()"
                      class="btn btn-round white-button m-t-15"
                      i18n="@@send-invitation">TBT</button>
            </div>
          </div>
          <h2 class="m-t-50"><b i18n="@@add-people-by-link">TBT</b></h2>
          <p class="lead" i18n="@@can-invite-people-by-link">TBT</p>
          <div class="form-group">
            <label for="invite-token"><b i18n="@@magic-link">TBT</b></label>
            <input readonly type="text" class="form-control" id="invite-token" value="{{generatedLink}}"/>
          </div>
          <h5 class="text-center m-t-20" i18n="@@send-url-join-group">TBT</h5>
          <div class="row justify-content-center">
            <button (click)="generateLink()"
                    class="btn btn-round green-button"
                    i18n="@@generate-link">TBT</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>