<div class="form-group">
	<div class="row justify-content-center">
		<div class="col-xl-10">
			<label>Email</label>
			<div class="input-group"><span class="input-group-addon"></span>
				<input type="text" style="color: white" class="form-control" name="Email" id="Email"
							 placeholder="Requested Email">
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<button (click)="sendInvitation()" class="btn btn-round btn-add-event-in-group" style="margin-top: 15px;">Send
			invitation
		</button>
	</div>
</div>
<div class="row justify-content-center" style="margin-top: 20px;">
	<h5 style="color: white; text-align: center;">Or generate a link to share it with people:</h5>
</div>
<div class="row justify-content-center">
	<button (click)="generateLink()" class="btn btn-round btn-add-event">Generate a link</button>
</div>
<div *ngIf="generatedLink">
	<div class="row justify-content-center">
		<div class="col-xl-10">
			<div class="input-group"><span class="input-group-addon"></span>
				<input type="text" style="color: white; margin-top: 30px" class="form-control" name="Token" id="Token"
							 placeholder="Token" required value="vibent.com/invite/{{generatedLink}}">
			</div>
		</div>
		<h5 style="color: white; margin-top: 20px; text-align: center;">Send this URL to your friends to allow them to join your group.</h5>
	</div>
</div>