<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <h3>14/04</h3>
                      </div>
                      <p class="card-category">in 4 days!</p>
                      <h3 class="card-title">8
                          <small>participants</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-info">info</i>
                          <a href="#pablo">3 new bubbles!</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <h3>14/04</h3>
                      </div>
                      <p class="card-category">in 4 days!</p>
                      <h3 class="card-title">8
                          <small>participants</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-info">info</i>
                          <a href="#pablo">3 new bubbles!</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <h3>14/04</h3>
                      </div>
                      <p class="card-category">in 4 days!</p>
                      <h3 class="card-title">8
                          <small>participants</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-info">info</i>
                          <a href="#pablo">3 new bubbles!</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <h3>14/04</h3>
                      </div>
                      <p class="card-category">in 4 days!</p>
                      <h3 class="card-title">8
                          <small>participants</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-info">info</i>
                          <a href="#pablo">3 new bubbles!</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
