<p class="lead" i18n="@@about-to-create-event">TBT</p>
<h2><b i18n="@@pick-a-date">TBT</b></h2>
<div [formGroup]="form">
  <div class="form-group">
    <label for="event-datetime"><b i18n="@@date">TBT</b>
      <span *ngIf="!dateValidSetted"
            class="incorrect-input"
            i18n="@@incorrect-date">TBT</span></label>
    <input type="text" autocomplete="off" class="form-control bg-transparent" readonly
           id="event-datetime" formControlName="date"/>
  </div>
</div>
<div class="row justify-content-center m-t-50">
  <button (click)="onNext()" class="btn btn-round green-button" i18n="@@next">TBT</button>
</div>