<div class="bubble-contributors">
  <ng-container *ngFor="let user$ of mostActiveUsers.users">
    <img *ngIf="user$ | async as user"
         class="avatar rounded-circle"
         src={{user?.profilePicLocation}}/>

    <div *ngIf="!(user$ | async)"
         class="avatar participant-avatar-skeleton"></div>
  </ng-container>

  <div *ngIf="mostActiveUsers.amountRemaining > 0"
       class="avatar rounded-circle remaining-amount">
    +{{mostActiveUsers.amountRemaining}}
  </div>


  <span *ngIf="type === ContributorTextType.CONTRIBUTING || !type"
        class="text-muted" i18n>
    {mostActiveUsers.amount, plural, =0 {No contributors} =1 {contributing singular} other {contributing plural}}
  </span>
  <span *ngIf="type === ContributorTextType.ANSWERED"
        class="text-muted" i18n>
    {mostActiveUsers.amount, plural, =0 {No one answered} =1 {answered singular} other {answered plural}}
  </span>
  <span *ngIf="type === ContributorTextType.AUTHOR && (mostActiveUsers.users[0] | async) as user"
        class="text-muted" i18n>
    by {{user.firstName}} {{user.lastName}}
  </span>
</div>

