<div class="main-content-group">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <h2 class="group-title">Group title</h2>
            </div>
            <div class="col-xl-12" style="text-align: center">
                <a href="javascript:void(0);"><h5 class="members-number" (click)="openGroupMembersDialog()">10 members</h5></a>
          </div>
            <div class="col-xl-10">
                <h5 class="group-description">Erat autem diritatis eius hoc
                    quoque indicium nec obscurum nec latens, quod ludicris cruentis
                    delectabatur et in circo se x vel septem aliquotiens vetit
                    is certaminibus pugilum vicissim se concidentium perfusorumque sanguine
                    specie ut lucratus ingentia laetabatur.</h5>
            </div>
            <div class="col-xl-12" style="text-align: center">
                <div class="btn btn-round btn-add-event-in-group" (click)="openEventCreationDialog()">Create an event</div>
            </div>
        </div>
    </div>

    <app-event-preview *ngFor="let event of eventsPreview" [eventPreview]=event></app-event-preview>
</div>