<div class="row justify-content-center" style="margin-bottom: 15px">
	<div class="create-event-title">Manage group admins</div>
</div>
<div class="row justify-content-center">
	<div class="member-rights"><img src="/assets/img/theo.jpg">
		<div class="member-name">Théo Joubert</div>
		<div class="member-rights-switch"><label class="tgl">
			<input type="checkbox" checked/>
			<span class="tgl_body">
    <span class="tgl_switch"></span>
    <span class="tgl_track">
      <span class="tgl_bgd"></span>
      <span class="tgl_bgd tgl_bgd-negative"></span>
    </span>
  </span>
		</label>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="member-rights"><img src="/assets/img/theo.jpg">
		<div class="member-name">Théo Joubert</div>
		<div class="member-rights-switch"><label class="tgl">
			<input type="checkbox" checked/>
			<span class="tgl_body">
    <span class="tgl_switch"></span>
    <span class="tgl_track">
      <span class="tgl_bgd"></span>
      <span class="tgl_bgd tgl_bgd-negative"></span>
    </span>
  </span>
		</label>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<div class="member-rights"><img src="/assets/img/theo.jpg">
		<div class="member-name">Théo Joubert</div>
		<div class="member-rights-switch"><label class="tgl">
			<input type="checkbox" checked/>
			<span class="tgl_body">
    <span class="tgl_switch"></span>
    <span class="tgl_track">
      <span class="tgl_bgd"></span>
      <span class="tgl_bgd tgl_bgd-negative"></span>
    </span>
  </span>
		</label>
		</div>
	</div>
</div>
<div class="row justify-content-center" style="margin-top: 50px;">
	<button (click)="updateInfo()" class="btn btn-round btn-add-event">Update</button>
</div>
<div class="row justify-content-center">
	<button mat-dialog-close class="btn btn-round btn-danger" (click)="close()" style="opacity: 0.8">Cancel</button>
</div>