<div class="row">
  <div class="col-lg-12">
    <div [routerLink]="['/groups/' + group.ref]" class="card cursor-pointer">
      <div class="card-header card-header-vibent-purple">
        <h4 class="card-title">{{group.name}}</h4>
        <h4 class="card-members" i18n="@@group-members-number"><b>{{group.memberships.length}}</b>
          {group.memberships.length, plural, =1 {member} other {members}}</h4>
        <p class="card-category">{{group.description}}</p>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="scrolling-wrapper">
            <app-group-preview-member
                *ngFor="let membership of group.memberships"
                [membership]=membership>
            </app-group-preview-member>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
