.paper-plane {
  color: #138ccd;
  font-size: 30px
}

.mail-container {
  display: inline-flex;
  width: 100%;
}

input.email {
  width: 90%;
}

.action-email {
  margin-top: 8px;
}

.close-button {
  width: 17px;
  margin-left: 20px;
}

.add-another-email {

  span {
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    cursor: pointer;
  }

  color: #138ccd;
}