.paper-plane {
  color: #138ccd;
  font-size: 30px
}

input.email {
  width: 90%;
  display: inline-block;
}

.action-email {
  width: 10%;
  margin-top: 8px;
  text-align: center;

  &.remove {
    display: inline-block;
  }

  &.add {
    margin-left: 90%;
  }

  & .fas {
    font-size: 24px;
    color: #555555;
    cursor: pointer;
  }
}