<div class="col-xl-12">
  <div class="alim-card">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="media-body text-left">
              <h3 class="alim-title">{{this.alimentationEntry.name}}</h3>
              <ng-container *ngFor="let b of alimentationDataModel.bringingsByUsers">
                <span [@fadeInOut]
                      *ngIf="b.user | async as user"
                      class="badge badge-default badge-success m-r-2">
                  {{b.quantity}} <span i18n="@@by">by</span> {{user.firstName}} {{user.lastName}}
                </span>
              </ng-container>
            </div>
            <div class="align-self-center">
              <div class="float-right text-center">
                <i *ngIf="alimentationEntry.currentBringing >= alimentationEntry.totalRequested"
                   class="fas fa-check entry-checked">
                </i>
                <div class="food-quantity">{{this.alimentationDataModel.ratio}}
                </div>
                <img *ngIf="this.alimentationEntry.type === AlimType.DRINK"
                     src="./assets/img/drink.png"/>
                <img *ngIf="this.alimentationEntry.type === AlimType.FOOD"
                     class="p-l-5"
                     src="./assets/img/food.png"/>
              </div>
            </div>
          </div>
          <div class="progress mt-1 mb-0 h-5-p">
            <div class="progress-bar bg-success" [style.width]="this.alimentationDataModel.progressWidth"
                 role="progressbar"></div>
          </div>
          <div class="float-left">
            <div class="delete-button" (click)="deleteEntry()" i18n="@@delete">TBT</div>
          </div>
          <div class="float-right text-center">
            <img class="{{this.alimentationDataModel.deleteBringButtonClass}}" (click)="deleteBring()"
                 src="./assets/img/minus.png"/>
            <img class="addAndDelete" (click)="addBring()" src="./assets/img/plus.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>