@import "../travel-bubble-preview";

.seat-circle {
  width: 12px;
  height: 12px;
  margin-right: 2px;
  display: inline-block;
  border-radius: 50%;
}

.available {
  background-color: $travel-color;
}

.taken {
  background-color: $travel-color;
  opacity: 0.5;
}

.requested {
  background-color: lightgrey;
}

.remaining {
  font-size: 0.8em;
  top: -3px;
  position: relative;
}
