<app-header></app-header>
<div class="home">
  <div class="header">
    <div class="row justify-content-center m-0">
      <div class="col-12 col-md-10">
        <div class="brand">
          <img src="./assets/img/vibent_accueil.png"/>
        </div>
        <div class="row justify-content-center m-0">
          <button class="btn btn-round white-button w-365-p home-login-button" (click)="loginPage()"
                  i18n="@@login-vibent">
            TBT
          </button>
        </div>
        <social-auth></social-auth>
      </div>
    </div>
  </div>
  <div class="home-background"></div>
  <div id="home-explanations" class="home-explanations">
    <div class="container">
      <div class="row justify-content-center">
        <div class="explanation-block col-md-4" style="display: none">
          <div class="explanation-line">
            <div class="explanation-block-counter">1</div>
            <div class="explanation-block-title" i18n="@@create-join-group">TBT</div>
          </div>
          <div class="explanation-block-description" i18n="@@create-join-group-description">
            TBT
          </div>
        </div>
        <div class="explanation-block col-md-4">
          <div class="explanation-line">
            <div class="explanation-block-counter">1</div>
            <div class="explanation-block-title" i18n="@@create-events">TBT</div>
          </div>
          <div class="explanation-block-description" i18n="@@create-events-description">
            TBT
          </div>
        </div>
        <div class="explanation-block col-md-4">
          <div class="explanation-line">
            <div class="explanation-block-counter">2</div>
            <div class="explanation-block-title" i18n="@@organize-collaboratively">TBT</div>
          </div>
          <div class="explanation-block-description" i18n="@@organize-collaboratively-description">
            TBT
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="how-it-works">
    <div class="container">
      <div class="row px-3 px-md-0 justify-content-center flex-sm-column align-items-sm-center flex-lg-row">
        <div class="col-sm-10 col-md-8 col-lg-5">
          <div class="explanation-block-title m-t-10" i18n="@@how-it-works">TBT</div>
          <div class="explanation-block-description" i18n="@@how-it-works-description">TBT</div>
        </div>
        <div class="text-center col-sm-10 col-md-8 col-lg-5">
          <img class="w-250-p" src="./assets/img/travel-illustration.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="our-bubbles">
    <div class="container">
      <div class="row justify-content-center">
        <div class="explanation-block-title p-0" i18n="@@our-bubbles">TBT</div>
        <p class="col-12 text-center" i18n="@@click-each-one-details">TBT</p>
      </div>
      <div class="row justify-content-center">
        <button (click)="bubbleDisplayed=BubbleType.AlimentationBubble"
                [class.active]="bubbleDisplayed==BubbleType.AlimentationBubble" class="btn bubble-btn alimentation"><i
            class="fas fa-utensils"></i>
          <span class="label" i18n="@@alimentation">TBT</span></button>
        <button (click)="bubbleDisplayed=BubbleType.TravelBubble"
                [class.active]="bubbleDisplayed==BubbleType.TravelBubble"
                class="btn bubble-btn travel"><i
            class="fas fa-taxi"></i>
          <span class="label" i18n="@@travel">TBT</span></button>
        <button (click)="bubbleDisplayed=BubbleType.CheckboxBubble"
                [class.active]="bubbleDisplayed==BubbleType.CheckboxBubble"
                class="btn bubble-btn checkbox"><i
            class="fas fa-check-square"></i>
          <span class="label" i18n="@@checkbox">TBT</span></button>
        <button (click)="bubbleDisplayed=BubbleType.SurveyBubble"
                [class.active]="bubbleDisplayed==BubbleType.SurveyBubble"
                class="btn bubble-btn survey"><i
            class="fas fa-question-circle"></i>
          <span class="label" i18n="@@survey">TBT</span></button>
        <button (click)="bubbleDisplayed=BubbleType.PlanningBubble"
                [class.active]="bubbleDisplayed==BubbleType.PlanningBubble"
                class="btn bubble-btn planning"><i
            class="fas fa-tasks"></i>
          <span class="label" i18n="@@planning">TBT</span></button>
        <button (click)="bubbleDisplayed=BubbleType.FreeBubble"
                [class.active]="bubbleDisplayed==BubbleType.FreeBubble"
                class="btn bubble-btn free"><i
            class="fas fa-comment-dots"></i>
          <span class="label" i18n="@@free">TBT</span></button>
      </div>
      <div class="bubbles-explanations d-flex flex-wrap justify-content-center">
        <ng-container [ngSwitch]="bubbleDisplayed">
          <ng-container *ngSwitchCase="BubbleType.AlimentationBubble">
            <div class="p-2 align-self-center">
              <img src="./assets/img/alim-illustration.png" class="alimentation-illustration"/>
            </div>
            <div class="explanations p-2 align-self-center">
              <h2 i18n="@@alimentation-bubble">TBT</h2>
              <p i18n="@@alimentation-bubble-description">TBT</p>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="BubbleType.CheckboxBubble">
            <div class="p-2 align-self-center">
              <img src="./assets/img/checkbox-illustration.png" class="checkbox-illustration"/>
            </div>
            <div class="explanations p-2 align-self-center">
              <h2 i18n="@@checkbox-bubble">TBT</h2>
              <p i18n="@@checkbox-bubble-description">TBT</p>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="BubbleType.PlanningBubble">
            <div class="p-2 align-self-center">
              <img src="./assets/img/planning-illustration.png" class="planning-illustration"/>
            </div>
            <div class="explanations p-2 align-self-center">
              <h2 i18n="@@planning-bubble">TBT</h2>
              <p i18n="@@planning-bubble-description">TBT</p>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="BubbleType.TravelBubble">
            <div class="p-2 align-self-center">
              <img src="./assets/img/travel-illustration.png" class="travel-illustration"/>
            </div>
            <div class="explanations p-2 align-self-center">
              <h2 i18n="@@travel-bubble">TBT</h2>
              <p i18n="@@travel-bubble-description">TBT</p>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="BubbleType.FreeBubble">
            <div class="p-2 align-self-center">
              <img src="./assets/img/free-illustration.png" class="free-illustration"/>
            </div>
            <div class="explanations p-2 align-self-center">
              <h2 i18n="@@free-bubble">TBT</h2>
              <p i18n="@@free-bubble-description">TBT</p>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="BubbleType.SurveyBubble">
            <div class="p-2 align-self-center">
              <img src="./assets/img/survey-illustration.png" class="survey-illustration"/>
            </div>
            <div class="explanations p-2 align-self-center">
              <h2 i18n="@@survey-bubble">TBT</h2>
              <p i18n="@@survey-bubble-description">TBT</p>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>