<div class="header">
  <div class="row justify-content-center m-0">
    <div class="col-12 col-md-10">
      <div class="brand">
        <img src="./assets/img/vibent_accueil.png">
      </div>
      <div class="row justify-content-center m-0">
        <button class="btn btn-round white-button w-350-p home-login-button" (click)="loginPage()" i18n="@@login-vibent">
          Login / Sign up with a Vibent account
        </button>
      </div>
      <social-auth></social-auth>
    </div>
  </div>
</div>
<div class="home-background"></div>
<div class="home-explanations">
  <div class="container">
    <div class="row justify-content-center">
      <div class="explanation-block col-md-4">
        <div class="explanation-line">
          <div class="explanation-block-counter">1</div>
          <div class="explanation-block-title" i18n="@@create-join-group">Create or join a group</div>
        </div>
        <div class="explanation-block-description" i18n="@@create-join-group-description">
          Keep connected with your friends, colleagues or family and organize together in a group.
        </div>
      </div>
      <div class="explanation-block col-md-4">
        <div class="explanation-line">
          <div class="explanation-block-counter">2</div>
          <div class="explanation-block-title" i18n="@@create-events">Create events</div>
        </div>
        <div class="explanation-block-description" i18n="@@create-events-description">
          An outing, a birthday or a special event? Create events in one of your groups.
        </div>
      </div>
      <div class="explanation-block col-md-4">
        <div class="explanation-line">
          <div class="explanation-block-counter">3</div>
          <div class="explanation-block-title" i18n="@@organize-collaboratively">Organize collaboratively</div>
        </div>
        <div class="explanation-block-description" i18n="@@organize-collaboratively-description">
          Allow everyone to help organize, by seeing all contributions in real time.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="how-it-works">
  <div class="container">
    <div class="row px-3 px-md-0 justify-content-center flex-sm-column align-items-sm-center flex-lg-row">
      <div class="col-sm-10 col-md-8 col-lg-5">
        <div class="explanation-block-title p-t-4" i18n="@@how-it-works">How it works</div>
        <div class="explanation-block-description" i18n="@@how-it-works-description">
          An event is composed of multiple bubbles. Each bubble has a type and each type allows you to organize a
          specific
          aspect of your event. In a bubble, everyone is a participant and can contribute.
        </div>
      </div>
      <div class="text-center col-sm-10 col-md-8 col-lg-5">
        <img class="w-250-p" src="./assets/img/travel-illustration.png">
      </div>
    </div>
  </div>
</div>
<div class="our-bubbles">
  <div class="container">
    <div class="row justify-content-center">
      <div class="explanation-block-title p-0" i18n="@@our-bubbles">Our bubbles</div>
      <p class="col-12 text-center" i18n="@@click-each-one-details">Click on each one to see details about it</p>
    </div>
    <div class="row justify-content-center">
      <button (click)="bubbleDisplayed=BubbleType.AlimentationBubble"
              [class.active]="bubbleDisplayed==BubbleType.AlimentationBubble" class="btn bubble-btn alimentation"><i
          class="fa fa-cutlery"></i>
        <span class="label" i18n="@@alimentation">Alimentation</span></button>
      <button (click)="bubbleDisplayed=BubbleType.TravelBubble"
              [class.active]="bubbleDisplayed==BubbleType.TravelBubble"
              class="btn bubble-btn travel"><i
          class="fa fa-taxi"></i>
        <span class="label" i18n="@@travel">Travel</span></button>
      <button (click)="bubbleDisplayed=BubbleType.CheckboxBubble"
              [class.active]="bubbleDisplayed==BubbleType.CheckboxBubble"
              class="btn bubble-btn checkbox"><i
          class="fa fa-check-square"></i>
        <span class="label" i18n="@@checkbox">Checkbox</span></button>
      <button (click)="bubbleDisplayed=BubbleType.SurveyBubble"
              [class.active]="bubbleDisplayed==BubbleType.SurveyBubble"
              class="btn bubble-btn survey"><i
          class="fa fa-question-circle"></i>
        <span class="label" i18n="@@survey">Survey</span></button>
      <button (click)="bubbleDisplayed=BubbleType.PlanningBubble"
              [class.active]="bubbleDisplayed==BubbleType.PlanningBubble"
              class="btn bubble-btn planning"><i
          class="fa fa-tasks"></i>
        <span class="label" i18n="@@planning">Planning</span></button>
      <button (click)="bubbleDisplayed=BubbleType.FreeBubble"
              [class.active]="bubbleDisplayed==BubbleType.FreeBubble"
              class="btn bubble-btn free"><i
          class="fa fa-commenting"></i>
        <span class="label" i18n="@@free">Free</span></button>
    </div>
    <div class="bubbles-explanations d-flex flex-wrap justify-content-center">
      <ng-container [ngSwitch]="bubbleDisplayed">
        <ng-container *ngSwitchCase="BubbleType.AlimentationBubble">
          <div class="p-2 align-self-center">
            <img src="./assets/img/alim-illustration.png" class="alimentation-illustration">
          </div>
          <div class="explanations p-2 align-self-center">
            <h2 i18n="@@alimentation-bubble">Alimentation bubble</h2>
            <p i18n="@@alimentation-bubble-description">
              <!-- Text replaced at translation -->
            </p>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="BubbleType.CheckboxBubble">
          <div class="p-2 align-self-center">
            <img src="./assets/img/checkbox-illustration.png" class="checkbox-illustration">
          </div>
          <div class="explanations p-2 align-self-center">
            <h2 i18n="@@checkbox-bubble">Checkbox bubble</h2>
            <p i18n="@@checkbox-bubble-description">
              <!-- Text replaced at translation -->
            </p>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="BubbleType.PlanningBubble">
          <div class="p-2 align-self-center">
            <img src="./assets/img/planning-illustration.png" class="planning-illustration">
          </div>
          <div class="explanations p-2 align-self-center">
            <h2 i18n="@@planning-bubble">Planning bubble</h2>
            <p i18n="@@planning-bubble-description">
              <!-- Text replaced at translation -->
            </p>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="BubbleType.TravelBubble">
          <div class="p-2 align-self-center">
            <img src="./assets/img/travel-illustration.png" class="travel-illustration">
          </div>
          <div class="explanations p-2 align-self-center">
            <h2 i18n="@@travel-bubble">Travel bubble</h2>
            <p i18n="@@travel-bubble-description">
              <!-- Text replaced at translation -->
            </p>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="BubbleType.FreeBubble">
          <div class="p-2 align-self-center">
            <img src="./assets/img/free-illustration.png" class="free-illustration">
          </div>
          <div class="explanations p-2 align-self-center">
            <h2 i18n="@@free-bubble">Free bubble</h2>
            <p i18n="@@free-bubble-description">
              <!-- Text replaced at translation -->
            </p>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="BubbleType.SurveyBubble">
          <div class="p-2 align-self-center">
            <img src="./assets/img/survey-illustration.png" class="survey-illustration">
          </div>
          <div class="explanations p-2 align-self-center">
            <h2 i18n="@@survey-bubble">Survey bubble</h2>
            <p i18n="@@survey-bubble-description">
              <!-- Text replaced at translation -->
            </p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<app-footer></app-footer>