<div class="header">
    <div class="row justify-content-center m-0">
        <div class="col-12 col-md-10">
            <div class="brand">
                <img src="./assets/img/vibent_accueil.png">
            </div>
            <div class="row justify-content-center m-0">
                <button class="btn btn-round white-button w-300-p" (click)="loginPage()">
                    Login / Sign up with a vibent account
                </button>
            </div>
            <social-auth></social-auth>
        </div>
    </div>
</div>
<div class="home-background"></div>
<div class="footer"></div>