$checkbox-color: #6ebf74;

.checkbox-bubble-preview {
  border-color: $checkbox-color;

  .bubble-icon {
    color: $checkbox-color;
  }
}

.graphics {
  height: 70%;
  overflow: hidden;

  .graphics-title-only {
    margin-top: 100px;
    font-size: 1.6em;
    text-align: center;
  }

  .quantity-unchecked {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
  }

  .options {
    margin: 0 5% 5%;
    padding-bottom: 20px;
    overflow: hidden;
    line-height: 18px;
    font-size: 16px;

    & > * {
      margin-bottom: 10px;
      overflow: hidden;
      max-height: 36px;

      &.custom-control-label::before {
        top: 0;
      }
    }

    &.fade-vertical > div:nth-child(3) {
      opacity: 50%;
      mask-image: linear-gradient(black, transparent);
    }
  }
}

// ISSUE: On ios browser in mobile mode, if a modal is opened and a checkbox is
// in a checkbox bubble preview routerLink change will display a blank page
// This fix has been found but without any concrete explanation
// previous value in bootstrap:  z-index: -1;
.custom-control-input {
  z-index: 0;
}
