<div class="row justify-content-center">
	<div class="create-event-title">Update your infos</div>
</div>
<div class="row justify-content-center m-t-25">
	<img id="avatarProfile" class="avatar-profile-settings (click)="fileInput.click()" src="{{croppedImage}}">
</div>

<image-cropper *ngIf="imageChangedEvent"
		[imageChangedEvent]="imageChangedEvent"
		[maintainAspectRatio]="true"
		[aspectRatio]="1"
		format="png"
		(imageCroppedBase64)="imageCropped($event)"
		(imageCroppedFile)="imageCroppedFile($event)"
></image-cropper>

<div class="row justify-content-center">
	<button *ngIf="imageChangedEvent" (click)="imageChangedEventToNull()" class="btn btn-round btn-sm">Crop image</button>
</div>
<div class="row justify-content-center">
	<input type="file" id="file" class="d-none" (change)="fileChangeEvent($event)" accept="image/jpg,image/jpeg"
				 #fileInput>
</div>
<div [formGroup]="form">
	<div class="Input">
		<input type="text" formControlName="firstName" id="firstName" class="Input-text" placeholder="FirstName">
		<label for="firstName" class="Input-label">FirstName</label>
	</div>
	<div class="Input">
		<input type="text" id="lastName" formControlName="lastName" class="Input-text" placeholder="LastName">
		<label for="lastName" class="Input-label">LastName</label>
	</div>

	<div class="row justify-content-center m-t-50">
		<button *ngIf="!firstName.invalid && !lastName.invalid" (click)="updateInfo()" class="btn btn-round btn-add-event">
			Update
		</button>
		<button *ngIf="firstName.invalid || lastName.invalid" class="btn btn-round btn-add-event disabled">Update</button>
	</div>
	<div class="row justify-content-center">
		<button mat-dialog-close class="btn btn-round btn-danger" (click)="close()">Cancel</button>
	</div>
</div>
