<footer class="footer">
  <div class="container">
    <ul>
      <li><a class="text-muted cursor-pointer" (click)="changeLanguage('fr')">Français (France)</a></li>
      <li><a class="text-muted cursor-pointer" (click)="changeLanguage('en')">English (US)</a></li>
    </ul>
    <ul>
      <li><a class="text-muted cursor-pointer" (click)="onHowItWorks()" i18n="@@how-it-works">TBT</a></li>
      <li><a class="text-muted cursor-pointer" (click)="onAboutUs()" i18n="@@about-us">TBT</a></li>
      <li><a class="text-muted cursor-pointer" (click)="onTerms()" i18n="@@terms-&-conditons">TBT</a></li>
      <li><a class="text-muted cursor-pointer" (click)="onGetApp()" i18n="@@get-the-app">TBT</a></li>
    </ul>
    <p class="text-muted" i18n="@@footer-text">Copyright © {{date | date:'yyyy'}} Vibent. All rights reserved</p>
  </div>
</footer>