<footer class="footer">
  <div class="container">
    <ul>
      <li><a class="text-muted cursor-pointer" (click)="changeLanguage('fr')" title="Français (France)">
        Français (France)</a></li>
      <li><a class="text-muted cursor-pointer" (click)="changeLanguage('en')" title="English (US)">
        English (US)</a></li>
      <li><a class="text-muted cursor-pointer"  (click)="aboutUs()" title="About us" i18n="@@about-us">About us</a></li>
    </ul>
    <p class="text-muted" i18n="@@footer-text">Copyright © {{date | date:'yyyy'}} Vibent. All rights reserved</p>
  </div>
</footer>