$travel-color: #7687c0;

.travel-bubble-preview {
  text-align: center;
  border-color: $travel-color;

  .bubble-icon {
    color: $travel-color;
  }
}

.graphics {
  height: 70%;
  overflow: hidden;

  .seat-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
  }

  .seats-available {
    height: 30%;
    margin-top: 40px;
  }

  .other-seats {
    height: 30%;

    .seats-taken {
      display: inline-block;
      width: 50%;
    }

    .seats-requested {
      display: inline-block;
      width: 50%;
    }
  }

  .travel-bar {
    height: 30%;

    .progress {
      width: 80%;
      margin: 10px auto auto;
    }
  }
}
