<nav class="navbar navbar-expand-lg navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <img src="./assets/img/vibent.svg" style="width: 90px">
            <a class="navbar-brand">{{getTitle()}}</a>
        </div>
        <loader [mainCondition]=loaderService.displayLoader()
                [eventUpdated]=loaderService.eventUpdated
                [withLogo]=false
                [fade]=true
                [mainSize]=loaderSize></loader>
        <div class="collapse navbar-collapse justify-content-end"
             id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link"
                       id="navUserProfile"
                       data-toggle="dropdown">
                        <div class="user-profile">
                            <img *ngIf="user" src="{{user.profilePicLocation}}">
                        </div>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item"
                               [routerLink]="['/me']">
                                Profile
                            </a>
                            <a class="dropdown-item cursor-pointer"
                               (click)="logout()">
                                Logout
                            </a>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-absolute bottom-navbar">
    <div class="d-flex justify-content-around">
        <div class="text-center cursor-pointer" [routerLink]="['/events']">
            <i class="material-icons">bubble_chart</i>
            <div class="menu-title">Events</div>
        </div>
        <div class="text-center cursor-pointer" [routerLink]="['/groups']">
            <i class="material-icons">group</i>
            <div class="menu-title">Groups</div>
        </div>
        <div class="text-center cursor-pointer" [routerLink]="['/me']">
            <i class="material-icons">person</i>
            <div class="menu-title">Profile</div>
        </div>
    </div>
</nav>