<div class="row justify-content-center">
  <div class="btn-group event-participation"
       data-toggle="buttons">
    <label class="btn btn-primary btn-sm p-l-10 p-r-10"
           [class.active]="fullUserParticipation?.answer === participationEventAnswer.YES"
           (click)="onParticipate()" i18n="@@attending">
      <input type="radio"
             autocomplete="off"
             class="event-participation-radios"> TBT
    </label>
    <label class="btn btn-primary btn-sm p-l-10 p-r-10"
           [class.active]="fullUserParticipation?.answer === participationEventAnswer.MAYBE"
           (click)="onMaybe()" i18n="@@maybe">
      <input type="radio"
             autocomplete="off"
             class="event-participation-radios"> TBT
    </label>
    <label class="btn btn-primary btn-sm p-l-10 p-r-10"
           [class.active]="fullUserParticipation?.answer === participationEventAnswer.NO"
           (click)="onNot()" i18n="@@not-attending">
      <input type="radio"
             autocomplete="off"
             class="event-participation-radios"> TBT
    </label>
  </div>
</div>