<div class="modal fade" id="modalSelectBubbleType" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Choose a bubble type</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="this.bubbleType = null">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <bubbles-list *ngIf="! bubbleType"
                              (bubbleType)="onBubbleTypeSent($event)">
                </bubbles-list>
                <bubbles-explanations *ngIf="bubbleType"
                                      [bubbleType]="bubbleType"
                                      [eventRef]="eventRef"
                                      (sendNullToList)="onBubbleTypeSent($event)">
                </bubbles-explanations>
            </div>
        </div>
    </div>
</div>