@import "../../../../../../assets/scss/core/variables/_shadow.scss";
@import "../../../../../../assets/scss/core/mixins/_vendor-prefixes.scss";
@import "../../../../../../assets/scss/core/mixins/_buttons.scss";

.event-additional-infos {
  height: 80px;

  .participants-info {
    @include board-button();
    @include board-button-hover();
    width: 138px;
    margin-left: 5px;
    margin-right: 5px;
    .going {
      .smaller-participants{
        font-size: 18px;
      }
      span {
        font-size: 24px;
        font-weight: 600;
        margin-left: -5px;
      }
    }
  }

  .date-info {
    @include board-button();
    width: 138px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: default;

    .day-month {
      span {
        font-size: 25px;
        font-weight: 600;
      }
    }

    .time {
      font-size: 12px;
    }
  }
}