<div class="d-flex flex-row justify-content-center event-additional-infos">
  <div class="participants-info p-3 cursor-pointer" (click)="openEventParticipantsModal()">
    <div class="going text-center" i18n><span [ngClass]="{'smaller-participants': participantsNumber>100}">
      {{participantsNumber}}&nbsp;</span>{participantsNumber, plural, =1 {going} other {going}}
    </div>
    <div class="invited text-center" i18n="@@for-nb-invited">TBT <span>{{invitedNumber}}</span> TBT</div>
  </div>
  <div class="date-info p-3">
    <div class="day-month text-center"><span>{{event.startDate | date:'d'}}</span>
      {{event.startDate | date:'LLL'}}
    </div>
    <div class="time text-center" i18n="@@around-time">around {{event.startDate | date:'shortTime'}}</div>
  </div>
</div>

<event-participants-preview
    [eventRef]="event.ref"
    [eventCreatorRef]="event.creatorRef"
    [participationRefs]=event.participationRefs>
</event-participants-preview>
