@import "../../../../../../../assets/scss/core/variables/_brand.scss";

.invite-other-people {

  span {
    margin-left: 5px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  i {
    cursor: pointer;
  }

  color: $vibent-blue;
}

.test {
  color: $vibent-blue;
  font-size: 30px
}