<div class="modal-body">
  <travel-content
      *ngIf=contentDisplayed
      [travelBubble]=this.bubble
      [eventRef]=this.eventRef
      (updatedTravelBubble)=this.onBubbleUpdate($event)>
  </travel-content>
  <travel-settings
      *ngIf=!contentDisplayed
      [bubble]=this.bubble
      [eventRef]=this.eventRef
      (bubbleDeleted)=onBackToContentSent()
      (backToContent)=onBackToContentSent($event)>
  </travel-settings>
</div>
<div class="modal-footer" *ngIf="contentDisplayed">
  <a (click)="openBubbleSettings()" class="text-black-50 cursor-pointer">
    <i class="fas fa-cog m-r-3"></i> <span i18n="@@settings">TBT</span>
  </a>
</div>
