<div *ngIf="fade && (mainCondition || eventUpdated)" [@fadeInOut] class="vibent-loading">
  <div *ngIf="withLogo" class="logo"></div>
  <svg [style.width]="mainSize" class="spinner" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
  </svg>
</div>
<div *ngIf="!fade && (mainCondition || eventUpdated)" class="vibent-loading">
  <div *ngIf="withLogo" class="logo"></div>
  <svg [style.width]="mainSize" class="spinner" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
  </svg>
</div>
<div *ngIf="eventUpdated" [@fadeInOut] class="small text-gray" i18n="@@updating">
  updating
</div>
<div *ngIf="expandedBubble" [@fadeInOut] style="margin-left: 10px; font-size: 80%; line-height: 25px;"
     class="text-white" i18n="@@updating">
  updating
</div>