<div class="modal fade" id="modalEventCreation" tabindex="-1" role="dialog">
  <div class="modal-dialog full-bootstrap-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close black-close"
                (click)="onClose()"
                data-dismiss="modal">
          <span>&times;</span>
        </button>
        <span *ngIf="!navigation.checkState(EventCreationState.TITLE)
                  && !navigation.checkState(EventCreationState.PARTICIPANTS)"
              class="fas fa-chevron-left position-absolute p-3 cursor-pointer"
              (click)="navigation.onBack()"></span>
      </div>
      <div class="modal-body bg-light">
        <div class="container vibent-modal">
          <event-creation-title *ngIf="navigation.checkState(EventCreationState.TITLE)" (change)="onNext()"></event-creation-title>
          <event-creation-description *ngIf="navigation.checkState(EventCreationState.DESCRIPTION)" (change)="onNext()"></event-creation-description>
          <event-creation-date *ngIf="navigation.checkState(EventCreationState.DATE)" (change)="onNext()" (createdEvent)="onEventCreated($event)"></event-creation-date>
          <event-creation-participants *ngIf="navigation.checkState(EventCreationState.PARTICIPANTS)" [event]="createdEvent"></event-creation-participants>
        </div>
      </div>
    </div>
  </div>
</div>