<div class="container">
    <div class="row justify-content-end">
        <img class="cursor-pointer modal-close" src="/assets/img/close.png" (click)="close()">
    </div>
</div>
<div class="container vibent-modal">
    <h2><b>Create an event</b></h2>
    <p class="lead">You are about to create an event.</p>
    <div [formGroup]="form">
        <div class="form-group">
            <label for="event-title"><b>Title</b>
                <span *ngIf="!titleValidSetted"
                      class="incorrect-input">Title is required</span></label>
            <input type="text" class="form-control" id="event-title" formControlName="title"/>
        </div>
        <div class="form-group">
            <label for="event-description"><b>Description (optional)</b></label>
            <textarea type="text" class="form-control" id="event-description"
                      formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="event-datetime"><b>Date</b>
                <span *ngIf="!dateSetted"
                      class="incorrect-input">Date is required</span></label>
            <input [min]="dateTime" [owlDateTime]="dt" class="calendar"
                   [owlDateTimeTrigger]="dt" type="text" class="form-control" id="event-datetime" formControlName="date"/>
            <owl-date-time #dt></owl-date-time>
        </div>
        <div class="row justify-content-center m-t-50">
            <button (click)="saveEvent()" class="btn btn-round btn-add-event">Create</button>
        </div>
    </div>
</div>