<div class="main-content-group">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-xl-10">
				<h2 class="group-title">{{group.name}}</h2>
			</div>
			<div class="col-xl-12" style="text-align: center"></div>
			<div class="col-xl-12 row justify-content-center">
				<div class="score-wrap">
					<a href="javascript:void(0);"><h5 class="members-number" (click)="openGroupMembersDialog()">
						{{group.memberships.length}} member<span *ngIf="group.memberships.length>1">s</span></h5></a>
					<a href="javascript:void(0);">
						<div class="add-group-member" (click)="openAddGroupMemberDialog()">
							<div class="fa fa-user-plus"></div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-xl-12 row justify-content-center">
				<ng-container *ngIf="isMobileMenu()">
					<div class="nav-item dropdown">
						<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Admin settings
						</button>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a href="javascript:void(0);" class="dropdown-item" (click)="openRightsDialog()">Members Rights</a>
							<a href="javascript:void(0);" class="dropdown-item" (click)="openSettingsDialog()">Group settings</a>
							<a href="javascript:void(0);" class="dropdown-item" (click)="openRequestsDialog()">Requests <span
									class="badge badge-info">4</span></a>
						</div>
					</div>
				</ng-container>
			</div>
			<div class="col-xl-10">
				<h5 class="group-description">{{group.description}}</h5>
			</div>
			<div class="col-xl-12" style="text-align: center">
				<div class="btn btn-round btn-add-event-in-group" (click)="openEventCreationDialog()">Create an event
				</div>
			</div>
		</div>
	</div>
	<ng-container *ngIf="events && events.length>0;else no_events">
		<app-event-preview *ngFor="let event of events" [event]=event></app-event-preview>
	</ng-container>
	<ng-template #no_events>
		<div class="col-xl-12" style="text-align: center; margin-top: 50px; color: white;">
			<h4>No events... bouhouhou :'(</h4>
		</div>
	</ng-template>
</div>