<div class="home-header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 shadow-sm">
  <img class="header-logo-min my-0" src="./assets/icons/vibentmin.png"/>
  <div class="header-board d-flex flex-wrap my-2 my-md-0 ml-md-2">
    <a class="header-board-item p-2 cursor-pointer" (click)="onHowItWorks()" i18n="@@how-it-works">How it works</a>
    <a class="header-board-item p-2 cursor-pointer" (click)="onAboutUs()" i18n="@@about-us">About us</a>
    <a class="header-board-item p-2 cursor-pointer" (click)="onTerms()" i18n="@@terms-&-conditons">Terms & conditions</a>
    <a class="header-board-item p-2 cursor-pointer" (click)="onGetApp()" i18n="@@get-the-app">Get the app</a>
  </div>
</div>
