.bubble {
  width: 95%;
  min-height: 350px;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(60deg, $vibent-purple, $vibent-red);
  display: inline-block;
  padding: 10px 10px;
  margin: 10px;
}

.proposal-avatar {
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    margin-top: -50px;
    margin-left: 6px;
    border: 3px solid white;
  }
}

.proposal-traveler-avatar {
  img {
    width: 30px;
    height: 30px;
    margin-top: -20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.request-avatar {
  position: relative;
  img {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    margin-top: -35px;
    border: 3px solid white;
  }
}

.box {
  padding: 60px 0px;
}

.box-part {
  max-height: 250px;
  max-width: 250px;
  height: 250px;
  width: 250px;
  background: #FFF;
  padding: 60px 10px;
  margin: 10px 0px;
  border-radius: 50%;
  transition-duration: 0.5s;

  .creator-bubble {
    background-image: url(/assets/img/theo.jpg);
    background-size: 50px 50px;
    margin-top: 125px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
  }

  .bubble-type {
    margin-top: -53px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    margin-left: 172px;

    @mixin bubble-icon() {
      margin-top: 5px;
      margin-left: 4px;
      font-size: 18px;
    }
    .alim-bubble-icon {
      color: #f27c8b;
      @include bubble-icon();
    }

    .checkbox-bubble-icon {
      color: #6ebf74;
      @include bubble-icon();
    }

    .travel-bubble-icon {
      color: #7687c0;
      @include bubble-icon();
    }

    .free-bubble-icon {
      color: #b33a69;
      @include bubble-icon();
    }

    .planning-bubble-icon {
      color: #08b6b3;
      @include bubble-icon();
    }

    .survey-bubble-icon {
      color: #ff9236;
      @include bubble-icon();
    }

  }
  .title {
    color: black;
    font-size: 24px;
  }

  .preview {
    margin-top: 30px;
  }

}

.box-part:hover {
  @include box-shadow($bmd-shadow-16dp);
  transition-duration: 0.5s;
}

.add-bubble-icon {
  font-size: 48px;
  color: white;
  margin-top: 100px
}