.event-title {
  text-align: center;
}

.event-description {
  text-align: center;
}

.participant-profile {
  margin-top: 55px;
  text-align: center;

  .participant-avatar-participate {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    max-width: 100px;
    max-height: 100px;
    @include shadow-4dp();
    img {
      width: 100%;
      height: auto;
    }
  }

  .participant-avatar-idk {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    max-width: 100px;
    max-height: 100px;
    @include shadow-4dp();
    img {
      width: 100%;
      height: auto;
    }
  }

  .participant-avatar-dontparticipate {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    max-width: 100px;
    max-height: 100px;
    @include shadow-4dp();
    img {
      width: 100%;
      height: auto;
    }
  }

  .participant-user-body {
    margin-top: 10px;
  }

  .participant-user-additional-participate {
    color: white;
    margin-top: -8px;
    font-size: 11px;
    border-radius: 14px;
    display: inline-block;
    padding: 0px 12px;
    background-color: $vibent-green;
  }

  .participant-user-additional-idk {
    color: black;
    margin-top: -8px;
    font-size: 11px;
    border-radius: 14px;
    display: inline-block;
    padding: 0px 12px;
    background-color: white;
  }

  .participant-user-additional-dontparticipate {
    color: white;
    margin-top: -8px;
    font-size: 11px;
    border-radius: 14px;
    display: inline-block;
    padding: 0px 12px;
    background-color: $vibent-red;
  }

  .participant-user-name {
    margin-top: -3px;
  }

}

.scrolling-wrapper-event {
  overflow-y: hidden;
  white-space: nowrap;

  .participant-profile {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 15px
  }

  margin-top: 100px;
}

.test {
  background: #0d47a1;
}