.event-title {
  text-align: center;
}

.event-description {
  text-align: center;
}

.participant-profile {
  margin-top: 55px;
  text-align: center;

  .participant-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    max-width: 100px;
    max-height: 100px;
    @include shadow-4dp();
    img {
      width: 100%;
      height: auto;
    }
  }

  .participant-user-body {
    margin-top: 10px;
  }

  @mixin participant-user-additional() {
    color: white;
    margin-top: -8px;
    font-size: 11px;
    border-radius: 14px;
    display: inline-block;
    padding: 0px 12px;
  }

  .participant-user-additional-yes {
    @include participant-user-additional();
    background-color: $vibent-green;
  }

  .participant-user-additional-no {
    @include participant-user-additional();
    background-color: $vibent-red;
  }

  .participant-user-additional-maybe {
    @include participant-user-additional();
    background-color: white;
    color: black;
  }

  .participant-user-additional-unanswered {
    @include participant-user-additional();
    background-color: black;
  }

  .participant-user-name {
    margin-top: -3px;
  }

}

.scrolling-wrapper-event {
  overflow-y: hidden;
  white-space: nowrap;
  height: 200px;

  .participant-profile {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px
  }

  margin-top: 50px;
}