.group-title{
  text-align: center;
  color: white;
}

.group-description{
  text-align: center;
  color: white;
}

.members-number{
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  background-color: #b0396c;
  color: white;
  border-radius: 9px;
  padding: 3px 12px;
  border: 2px solid white;
}