@media all and (max-width: 991px) {

  [class*="navbar-expand-"] > .container,
  [class*="navbar-expand-"] > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .bottom-navbar {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #e3e3e3;
    position: fixed !important;
    display: block;
    bottom: 0;
    z-index: 90;

    .menu-title {
      font-size: 14px;
      margin-top: -10px;
    }
  }

  .navbar .navbar-collapse .navbar-nav > li.button-container {
    padding: 15px;
  }

  .navbar {

    .dropdown.show .dropdown-menu {
      display: block;
    }

    .dropdown .dropdown-menu {
      display: none;
    }

    .dropdown-menu {
      .dropdown-item {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
    }

    .dropdown.show .dropdown-menu,
    .dropdown .dropdown-menu {
      background-color: transparent;
      border: 0;
      padding-bottom: 15px;
      transition: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      transform: none !important;
      width: auto;
      margin-bottom: 15px;
      padding-top: 0;
      height: 300px;
      animation: none;
      opacity: 1;
      overflow-y: scroll;
    }
  }

  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 230px;
    content: "";
    z-index: 1029;
    overflow-x: hidden;
  }

}

@media all and (min-width: 991px) {
  .navbar .navbar-nav {
    align-items: center;

    .button-container {
      margin-left: 0.1875px;
    }
  }

  .vibent-logo {
    display: none;
  }
}

/* Changes for small display */
@media (max-width: 991px) {

  .form-group {
    textarea {
      padding-top: 15px;
    }
  }

  .nav-open .menu-on-left .main-panel {
    position: initial;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .menu-on-left {
    .nav-open & {
      .main-panel,
      .wrapper-full-page,
      .navbar-fixed > div {
        @include transform-translate-x(260px);
      }
    }

    .sidebar,
    .off-canvas-sidebar {
      left: 0;
      right: auto;
      @include transform-translate-x(-260px);
    }

    .close-layer {
      left: auto;
      right: 0;
    }
  }

  .card .form-horizontal {
    .label-on-left,
    .label-on-right {
      padding-left: 15px;
      padding-top: 8px;
    }

    .form-group {
      margin-top: 0;
    }

    .checkbox-radios {
      padding-bottom: 15px;

      .checkbox:first-child,
      .radio:first-child {
        margin-top: 0;
      }
    }

    .checkbox-inline {
      margin-top: 0;
    }
  }

  .main-panel {
    width: 100%;
  }

  .navbar-nav > li {
    float: none;
    position: relative;
    display: block;
  }

  .off-canvas-sidebar nav .navbar-collapse {
    margin: 0;

    > ul {
      margin-top: 19px;
    }
  }

  .sidebar,
  .off-canvas-sidebar nav .navbar-collapse {
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 260px;
    right: 0;
    left: auto;
    visibility: visible;
    background-color: #9A9A9A;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;

    @include transform-translate-x(260px);
    @include transitions (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
    > ul {
      position: relative;
      z-index: 4;
      width: 100%;
    }
    &::before {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #fff;
      display: block;
      content: "";
      z-index: 1;
    }

    .logo {
      position: relative;
      z-index: 4;
    }

    .navbar-form {
      margin: 10px 0;
      float: none !important;
      padding-top: 1px;
      padding-bottom: 1px;
      position: relative;
    }

    .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
    }
  }

  .form-group {

    &.form-search {
      .form-control {
        font-size: 1.7em;
        height: 37px;
        width: 78%;
      }
    }
  }

  .navbar-form {
    .btn {
      position: absolute;
      top: -5px;
      right: -50px;
    }
  }

}

// full screen modal under 500px width screen
@media (max-width: 500px) {
  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    margin: 0 !important;
  }
}