<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Group 1</h4>
                      <p class="card-category">Group description</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                              <th>
                                  Members
                              </th>
                              </thead>
                              <tbody>
                              <tr>
                                  <td class="text-primary">
                                      Conor
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-primary">
                                      Théo
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-primary">
                                      Antoine
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-primary">
                                      Margaux <3
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Group 2</h4>
                      <p class="card-category">Group description</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                              <th>
                                  Members
                              </th>
                              </thead>
                              <tbody>
                              <tr>
                                  <td class="text-primary">
                                      Conor
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-primary">
                                      Théo
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-primary">
                                      Antoine
                                  </td>
                              </tr>
                              <tr>
                                  <td class="text-primary">
                                      Margaux <3
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
