<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Group 1</h4>
                      <p class="card-category">Group description</p>
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/theo.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Théo Joubert</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/conor.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Conor Ryan</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/francois.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Francois Dupond</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/sean.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Sean Ryan</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/michael.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Michael Ryan</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/antoine.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Antoine kikou</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Group </h4>
                      <p class="card-category">Ibi victu recreati et quiete, postquam abierat timor, vicos opulentos adorti equestrium adventu cohortium, quae casu propinquabant, nec resistere planitie porrecta conati digressi sunt retroque concedentes omne iuventutis robur relictum in sedibus acciverunt.
                      </p>
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/theo.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Théo Joubert</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/conor.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Conor Ryan</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/francois.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Francois Dupond</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/sean.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Sean Ryan</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/michael.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Michael Ryan</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                              <div class="group-profile">
                                  <div class="group-user-avatar">
                                      <a href="#pablo">
                                          <img class="img" src="/assets/img/antoine.jpg" />
                                      </a>
                                  </div>
                                  <div class="group-user-body">
                                      <div class="group-user-name">Antoine kikou</div>
                                      <div class="group-user-additional">Joined on 22 may</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
