<div class="container">
  <vibent-header></vibent-header>
  <div class="card col-xl-5 col-md-6 mx-auto p-4 m-0">
    <div class="card-wrapper">
      <nav style="display: none">
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tabs" data-toggle="tab" href="#nav-home" role="tab"
             i18n="@@email">TBT</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
             i18n="@@phone">TBT</a>
        </div>
      </nav>
      <div class="tab-content m-t-25" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
          <div id="emailLogin">
            <h3 class="card-title" i18n="@@email-login">TBT</h3>
            <form novalidate [formGroup]="loginForm">
              <div class="form-group">
                <label for="email" i18n="@@email">TBT</label>
                <input id="email" type="email" class="form-control" formControlName="email" required>
              </div>
              <div class="form-group">
                <label for="passwordEmail">
                  <span i18n="@@password">TBT</span>
                  <a (click)="forgotPassword()" class="float-right cursor-pointer"
                     i18n="@@forgot-password-question">TBT</a>
                </label>
                <input id="passwordEmail" type="password" class="form-control" formControlName="password"
                       required>
              </div>
              <div class="form-group no-margin">
                <button type="submit" (click)="loginEmail()" class="btn btn-primary btn-block" i18n="@@login">TBT
                </button>
              </div>
              <div class="text-center m-t-20">
                <span i18n="@@dont-have-account-question">TBT</span> <br>
                <button class="btn btn-primary btn-sm" (click)="register()" i18n="@@create-one">TBT</button>
              </div>
            </form>
          </div>
        </div>
        <div style="display: none" class="tab-pane fade" id="nav-profile" role="tabpanel">
          <div id="phoneLogin">
            <h3 class="card-title" i18n="@@phone-login">TBT</h3>

            <form novalidate [formGroup]="loginForm">
              <div class="form-group">
                <label for="phone" i18n="@@phone-number">TBT</label>
                <input id="phone" class="form-control" formControlName="phone" type="text" ng2TelInput
                       [ng2TelInputOptions]="{initialCountry: 'fr'}" (hasError)="hasError($event)"
                       (ng2TelOutput)="getNumber($event)">
              </div>
              <div class="form-group">
                <label for="passwordPhone">
                  <span i18n="@@password">TBT</span>
                  <a (click)="forgotPassword()" class="float-right cursor-pointer" i18n="@@forgot-password">TBT</a>
                </label>
                <input id="passwordPhone" type="password" class="form-control" formControlName="passwordPhone"
                       required>
              </div>
              <div class="form-group no-margin">
                <button type="submit" (click)="loginPhone()"
                        class="btn btn-primary btn-block" i18n="@@login">TBT
                </button>
              </div>
              <div class="text-center m-t-20">
                <span i18n="@@dont-have-account-question">TBT</span> <br>
                <button class="btn btn-primary btn-sm" (click)="register()"
                        i18n="@@create-one">TBT
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>