<div class="expanded-bubble">
  <div class="card-header travel-header mb-2">
    <div class="d-flex justify-content-between">
      <div class="p-2"></div>
      <div class="p-2 align-self-center travel-entity-creation"
           i18n="@@providers">TBT</div>
      <div class="p-2">
        <div class="add-provider" (click)="toggleProposalCreation()">
          <i class="fas fa-taxi"></i>
          <img class="plusIcon" src="./assets/img/plus.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="travel-card">
    <div class="card-without-bs card">
      <div class="card-content">
        <travel-proposal-creation
            [travelBubble]="travelBubble"
            [eventRef]="eventRef"
            (updatedBubble)="this.onBubbleUpdate($event)">
        </travel-proposal-creation>
        <div class="accordion" id="proposal-accordion">
          <div *ngIf="!travelBubble.proposals[0] && !proposalCreationExpanded()"
               class="d-flex justify-content-center m-t-15">
            <div class="p-2" i18n="@@no-providers-yet">TBT</div>
          </div>
          <travel-proposal
              *ngFor="let proposal of travelBubble.proposals"
              [bubbleId]="travelBubble.id"
              [travelBubble]="travelBubble"
              [travelProposal]="proposal"
              [eventRef]="eventRef">
          </travel-proposal>
        </div>
      </div>
    </div>
  </div>
  <div class="card-header travel-header mb-2">
    <div class="d-flex justify-content-between">
      <div class="p-2"></div>
      <div class="p-2 align-self-center travel-entity-creation"
           i18n="@@requesters">TBT</div>
      <div class="p-2">
        <div class="add-request" (click)="toggleRequestCreation()">
          <i class="fas fa-binoculars"></i>
          <img class="plusIcon" src="./assets/img/plus.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="travel-card">
    <div class="card-without-bs card">
      <div class="card-content">
        <travel-request-creation
            [travelBubble]="travelBubble"
            [eventRef]="eventRef"
            (updatedBubble)="this.onBubbleUpdate($event)">
        </travel-request-creation>
        <div class="accordion" id="request-accordion">
          <div *ngIf="!travelBubble.requests[0] && !requestCreationExpanded()"
               class="d-flex justify-content-center m-t-15">
            <div class="p-2"
                 i18n="@@no-pending-requests">TBT</div>
          </div>
          <travel-request
              *ngFor="let request of travelBubble.requests"
              [bubbleId]="travelBubble.id"
              [travelRequest]="request"
              [travelBubble]="travelBubble"
              [eventRef]="eventRef"
              (updatedTravelBubble)="this.onBubbleUpdate($event)">
          </travel-request>
        </div>
      </div>
    </div>
  </div>
</div>

