<div class="d-flex justify-content-center m-t-15">
  <!-- hidden is used, allow dom elmt to be structured and time/date libs applied -->
  <div [hidden]="!this.toggle" class="card-planning-entry card">
    <div class="card-body">
      <h4 class="card-title" i18n="@@add-planning-entry">TBT</h4>
    </div>
    <div class="card-body">
      <form novalidate [formGroup]="form">
        <div class="form-group">
          <label for="entry-date"><span i18n="@@date">TBT</span>
            <span *ngIf="this.dateInvalid"
                  class="incorrect-input" i18n="@@invalid-date">TBT</span></label>
          <input type="text"
                 autocomplete="off"
                 id="entry-date"
                 class="form-control bg-white"
                 readonly
                 name="date">
        </div>
        <form class="form-group">
          <div>
            <input id="add-time-entry" (click)="addTimeEntry()"
                   type="checkbox">
            <label for="add-time-entry" class="w-75 m-l-5" i18n="@@add-a-time">TBT</label>
          </div>
        </form>
        <div class="form-group" [hidden]="!hasTime">
          <label for="entry-time"><span i18n="@@add-a-time">TBT</span>
            <span *ngIf="this.timeInvalid"
                  class="incorrect-input" i18n="@@invalid-date">TBT</span>
          </label>
          <input type="text"
                 autocomplete="off"
                 id="entry-time"
                 class="form-control"
                 name="time">
        </div>
        <div class="form-group">
          <label for="content"><span i18n="@@content">TBT</span>
            <span *ngIf="this.contentInvalid"
                  class="incorrect-input"
                  i18n="@@missing-required-description">TBT</span></label>
          <textarea id="content" rows="5" class="form-control square"
                    name="content"
                    formControlName="content"></textarea>
        </div>
        <button (click)="toggleCreationCard(); this.resetDatesInput()"
                class="btn btn-outline-danger"
                i18n="@@delete">TBT</button>
        <button (click)="createPlanningEntry()"
                class="btn btn-outline-primary"
                i18n="@@add">TBT</button>
      </form>
    </div>
  </div>
</div>
