<div class="admin_card hoveradmin_card">
	<div class="info">
		<div class="title">
			<a>Manage group</a>
		</div>
		<div class="desc">You're an admin, you can change here some group settings or manage members requests</div>
	</div>
	<div class="bottom">
		<button type="button" style="width: 100%" class="btn btn-warning btn-sm" (click)="openRightsDialog()">
			Members rights
		</button>

		<button type="button" style="width: 100%" class="btn btn-danger btn-sm" (click)="openSettingsDialog()">
			Group settings
		</button>

		<button type="button" style="width: 100%; background: #2caf97" class="btn btn-primary btn-sm"
						(click)="openRequestsDialog()">
			Requests <span class="badge badge-light">4</span>
		</button>

	</div>
</div>